body{
  margin: 0;
 background-color: rgb(27, 25, 25);
}

.eyes_holder{
 height: 100%;
 width: 100%;
 display: flex;
 justify-content: space-evenly;
 margin: auto;
}
.eye{
  height: 9em;
  margin-top: 8em;
  margin-bottom: 2em;
  width: 20em;
  border-radius: 0px 30em 0px 30em;
  background-color: rgb(224, 224, 224);
  box-shadow:  0px 0px 50px rgb(255, 255, 255) ;
  animation: close 2.5s ease-in 2s ;
}
.reverse{
  border-radius: 30em 0em 30em 0em;
}
.begins{
  margin-top: .5em;
  text-align: center;
  font-size: 2em;
  display: flex;
  margin: auto;
  justify-content: space-evenly;
  text-shadow: 1px 1px 10px rgb(204, 204, 204);
}
.button{
  display: flex;
  justify-content: center;
  width: 15em;
  margin: auto;
  padding: .6em;
  font-size: 1.6em;
  margin-top: 1em;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}
.character_select{
  padding: .5em 1.6em;
  font-size: .6em;
  border-radius: .4em;
}
.character_select:hover{
  cursor: pointer;
  background-color: aliceblue;
  box-shadow:  0px 0px 10px rgb(255, 255, 255) ;
}
.dialog_box{
  border: 1px solid rgb(216, 208, 208);
  border-radius: 1em;
  height: 10em;
  padding: 1em;
}
.text_box{
  width: 90%;
  height: 20em;
  margin-top: 20em;
  margin-left: 5em;
  border: 5px solid black;
  border-radius: 20px;
  box-shadow: 0px 0px 5px rgb(212, 212, 212);
}
html::-webkit-scrollbar{
width: 5px;
}
html::-webkit-scrollbar-track{
  background-color: rgb(27, 25, 25)
}
html::-webkit-scrollbar-thumb{
  background-color: aliceblue;
  border-radius: 10px;
}
@keyframes close{
  0%{height: 9em;}
  20%{height: 6.5em;}
  40%{height: 0em;}
  50%{height: 0em;}
  60%{height: 6.5em;}
  100%{height: 9em;}
}